:root{
	--linkSize: 50px;
	--linkMargin: 5px;
}

html,body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

footer{
	box-sizing: border-box;
	position: fixed;
	padding: var(--linkMargin);
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: space-evenly;
}

footer a{
	overflow: hidden;
	margin: var(--linkMargin);
	width: var(--linkSize);
	height: var(--linkSize);
	border-radius: calc(var(--linkSize) / 4);

	flex-shrink: 0;
}

footer a:active{
	filter: brightness(80%);
}

footer a img{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#anilist img{
	padding: 6%;
	background: rgba(25,33,44,1);
}
#discord img{
	padding: 3%;
	background: #7289DA;
}
#steam img{
	padding: 15%;
	background: #fff;
}
#twitter img{
	background: rgba(42,163,239,1);
}

@media only screen and (min-width : 500px) {
	:root{
		
	}
}