:root{
	--linkSize: 30vmin;
}

html,body{
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	margin: 0;
	height: 100%;
	background: black;
	font-family: 'Open Sans', sans-serif;
}

a{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: calc(var(--linkSize) * 0.07) calc(var(--linkSize) * 0.25);
	width: var(--linkSize);
	
	font-weight: 300;
	font-size: calc(var(--linkSize) / 5);
	color: white;
	text-decoration: none;
}

a img{
	margin-bottom: calc(var(--linkSize) / 10);
	width: var(--linkSize);
	height: var(--linkSize);
	
	background: #fff;
	border-radius: 20%;
}

#anilist img{
	background: rgba(25,33,44,1);
}
#discord img{
	background: #7289DA;
}
#steam img{
	box-sizing: border-box;
	padding: 15%;
}

@media only screen and (min-width : 500px) {
	:root{
		--linkSize: 20vmin;
	}
}