:root{
	--linkSize: 30vmin;
}

html,body{
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	margin: 0;
	height: 100%;
	background: #00796B;
	font-family: 'Open Sans', sans-serif;
}

a{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: calc(var(--linkSize) * 0.07) calc(var(--linkSize) * 0.25);
	width: var(--linkSize);
	
	font-weight: 300;
	font-size: calc(var(--linkSize) / 5);
	color: white;
	text-decoration: none;

	animation: showApp 800ms;
}

a:hover img{
	box-shadow: 0 2vmin 6vmin rgba(0, 0, 0, 0.33);
	
	transform: scale(1.05);

	transition: 100ms;
}

a:active img{
	transform: scale(0.95);

	transition: 100ms;
}

a img{
	margin-bottom: calc(var(--linkSize) / 10);
	width: var(--linkSize);
	height: var(--linkSize);
	
	background: #fff;
	border-radius: 20%;

	transition: 300ms; 
}

#anilist img{
	background: rgba(25,33,44,1);
}
#discord img{
	background: #7289DA;
}
#steam img{
	box-sizing: border-box;
	padding: 15%;
}
#twitter img{
	background: rgba(42,163,239,1);
}

@media only screen and (min-width : 500px) {
	:root{
		--linkSize: 20vmin;
	}
}

@keyframes showApp{
	0%{
		transform: scale(1.5);
		opacity: 0;
		filter: blur(10px);
		pointer-events: none;
	}
	100%{
		transform: scale(1);
		opacity: 1;
		filter: blur(0px);
		pointer-events: none;
	}
}